* {
    box-sizing: border-box;
}

.time{
    text-align: center;
    z-index: 1;
    color: white;
}

.time:hover{
    color: rgb(158, 158, 2);
    text-shadow: yellow;
}

.top{
    background-color:rgba(46, 134, 193, .7);
    color: rgb(7, 1, 41);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

#myCarousel{
    width: 50%;
    opacity: .95;
}

img{
    
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.carousel-inner{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px){
    body{
        /* japan */
        background-image: url("https://64.media.tumblr.com/eb9d83900abde73d3d323019a45f3f8e/tumblr_om91agCwBL1rnbw6mo1_1280.gifv");
        background-size: cover;

        height: 100vh;
        padding:0;
        margin:0;
    }
    .top{
        float: left;
        width: 100%;
    }
    .carousel{
        float: right;
        width: 50%;
        margin-right: 23%;
    }
    .carousel-inner{
        height: 100%;
        max-height: 150px;
    }
}

@media screen and (max-width: 768px){
    body{
        /* space */
        background-image: url("http://31.media.tumblr.com/tumblr_m9f65ui8151rzjlc4o1_500.gif");
        background-size: cover;

        height: 100vh;
        padding:0;
        margin:0;
    }
    .top{
        float: left;
        width: 100%;
    }
    .carousel{
        float: left;
        width: 50%;
        margin-left: 25%;
    }
    .carousel-inner{
        height: 100%;
        max-height: 150px;
    }
}

@media screen and (min-width: 1024px){
    body{
        /* moon */
        background-image: url("https://wallpaperaccess.com/full/2641054.gif");
        background-size: cover;

        height: 100vh;
        padding:0;
        margin:0;
    }
    .top{
        float: left;
        width: 100%;
    }
    .carousel{
        float: right;
        width: 50%;
        margin-left: 30%;
    }
    .carousel-inner{
        height: 100%;
        max-height: 150px;
    }
}